<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Jumbotron Template for Bootstrap</title>
        <!-- Bootstrap core CSS -->
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="jumbotron.css" rel="stylesheet">
         <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"> 
        <link href="/css/font-awesome.min.css" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet">
        <!-- Style Library -->         
        <link href="/css/style-library-1.css" rel="stylesheet">
        <link href="/css/main.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Food Social</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                        <% if (isLogging){ %>
                        <ul class="nav navbar-nav navbar-right">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li>
                                <a href="/logout">Logout</a>
                            </li>
                    </ul><% } %>
                </div>
                <!--/.navbar-collapse -->
            </div>
        </nav>
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <h1>Food Social's wall</h1>
                <p>Find all kind of food</p>
                <p></p>
            </div>
        </div>
        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
</div>
            <footer>
</footer>
        </div>
        <div class="container">            
                <% if (foods ){ 
                    _.each(foods, function (food) { %>
                    <div class="row"> 
                        <div class="col-md-2 col-sm-2">                    
                            <div class=""> 
                                <div class="thumbnail"> 
                                    <% if (food.thumbnailURL){ %>
                                        <img src="<%= food.thumbnailURL %>" alt="img-food"> 
                                    <% }else{ %> 
                                        <img src="/images/food.jpg" alt="img-food"> 
                                    <% } %> 
                                </div>                         
                            </div>                     
                            <h3><%= food.id_user.name %></h3> 
                        </div>
                        <div class="col-md-10 col-sm-10">
                            <h3 class="title_wall" ><%= food.title %></h3> 
                            <p><%= food.description %></p>
                            <% if (food.tags){ %>
                                <blockquote> 
                                <p>Tags:</p> 
                                <% _.each(food.tags, function (food_tag) { %>                      
                                    <small><%= food_tag.label %>, </small>
                                <% }); %>                        
                                </blockquote>                                         
                           <% } %>   
                        </div>
                    <% }); %>                  
                
                <% }else { %>
                    <div class="col-md-12"><h3>There isn't foods</h3></div>
                <% } %>     
            </div>

        </div>
</div>
<br><br><br><br>
         <div class="copyright-bar bg-black">
            <div class="container">
                <p class="pull-left small">© Food Social</p>
                <p class="pull-right small">Made with <i class="fa fa-heart pomegranate">&nbsp;rubengglez</i></p>
            </div>
        </div>
         <!-- /container -->
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>         
       
      
