
        
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <div class="jumbotron" style=""> 
                        <h1>Welcome to Food Social</h1> 
                        <p>Share foods, know cooks, believe links, have your calendars and much more...</p> 
                        <p></p> 
                    </div>
                    <p><br></p>
                    <p style=""><br></p>
                    <p style=""><br></p>
                    <p style=""><br></p>
                </div>
           
