<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <div class="page-header" style=""> 
                        <h1>Profile</h1> 
                    </div>
                    <p style=""><br></p>
                    <div class="alert alert-success hidden" role="alert">Saved options</div>
                    <div class="alert alert-danger hidden" role="alert">Not Saved options</div>
                    <form role="form" method="post" action="/profile?_method=put">
                        <div class="form-group"> 
                            <label class="control-label" for="formInput128">Nombre</label>
                            <input type="text" class="form-control" id="formInput128" name="name" required <% if (user) { %> value="<%= user.name %>" <% } %> placeholder="Placeholder text">
                        </div>
                        <div class="form-group"> 
                            <label class="control-label" for="formInput144">Apellidos</label>
                            <input type="text" class="form-control" id="formInput144" name="surname" required <% if (user) { %> value="<%= user.surname %>" <% } %> placeholder="Placeholder text">
                        </div>
                        <div class="form-group"> 
                            <label class="control-label" for="formInput194">Email</label>
                            <input type="text" class="form-control" name="email" id="formInput194" required <% if (user) { %> value="<%= user.email %>" <% } %> placeholder="Placeholder text">
                        </div>
                        <div class="form-group"> 
                            <label class="control-label" for="formInput200">Nueva passwordl</label>
                            <input type="password" class="form-control" id="formInput200" name="password" placeholder="Placeholder text">
                        </div>
                        <div class="form-group"> 
                            <label class="control-label" for="formInput214">Confirma Password</label>
                            <input type="password" class="form-control" id="formInput214" name="confirm" placeholder="Placeholder text">
                        </div>
                        
                        <button type="submit" id="js-send-profile" class="btn">Submit</button>                         
                    </form>
                </div>