<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <div class="page-header" style=""> 
                        <h1>Calendars</h1> 
                    </div>
                    <div class="container">
</div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-md-3"> 
                                <div class="thumbnail"> 
                                    <img src="file:///tmp/.org.chromium.Chromium.zZt400/placeholders/img6.jpg" alt=""> 
                                    <div class="caption"> 
                                        <h3>January</h3>                                          
                                        <p><a href="/calendar/month/1" class="btn btn-primary" role="button">Show</a></p> 
                                    </div>                                     
                                </div>                                 
                            </div>
                            <div class="col-sm-6 col-md-3"> 
                                <div class="thumbnail"> 
                                    <img src="file:///tmp/.org.chromium.Chromium.zZt400/placeholders/img6.jpg" alt=""> 
                                    <div class="caption"> 
                                        <h3>Febrary</h3>                                          
                                        <p><a href="/calendar/month/2" class="btn btn-primary" role="button">Show</a></p> 
                                    </div>                                     
                                </div>                                 
                            </div>
                            <div class="col-sm-6 col-md-3"> 
                                <div class="thumbnail"> 
                                    <img src="file:///tmp/.org.chromium.Chromium.zZt400/placeholders/img6.jpg" alt=""> 
                                    <div class="caption"> 
                                        <h3>Mars</h3>                                          
                                        <p><a href="/calendar/month/3" class="btn btn-primary" role="button">Show</a></p> 
                                    </div>                                     
                                </div>                                 
                            </div>
                        </div>
                    </div>
                </div>