<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <div class="page-header" style=""> 
                        <h1>Calendario de comidas</h1> 
                    </div>
                    <p style="">Mes de MARZO</p>
                    <table class="table" style=""> 
                        <thead> 
                            <tr> 
                                <th>Lunes</th> 
                                <th>Martes</th>
                                <td>Miércoles</td>
                                <td>Jueves</td>
                                <td>Viernes</td>
                                <td>Sábado</td> 
                                <th>Domingo</th> 
                            </tr>                             
                        </thead>                         
                        <tbody> 
                            <tr> 
                                <td>Mark</td> 
                                <td>Otto</td> 
                                <td>@mdo</td>
                                <td style="">Filete empanado</td>
                                <td style="">Hamburguesa</td>
                                <td style="">Descanso</td>
                                <td style="">Descanso</td> 
                            </tr>                             
                            <tr> 
                                <td>Jacob</td> 
                                <td>Thornton</td> 
                                <td>@fat</td>
                                <td style="">Otra comida</td>
                                <td style="">mas comida</td>
                                <td style="">Descanso</td>
                                <td style="">Descanso</td> 
                            </tr>                             
                            <tr style="">
                                <td>Patatas con judías</td>
                                <td>Pisto manchego</td>
                                <td>Spaguetis a la boloñesa</td>
                                <td>Tabulé</td>
                                <td>Potaje de garbanzos</td>
                                <td style="">Descanso</td>
                                <td style="">Descanso</td>
                            </tr>
                            <tr> 
                                <td>Larry</td>
                                <td style="">Otra cosa</td> 
                                <td>Ensalasana</td>
                                <td style="">Lentejas</td>
                                <td>the Bird</td> 
                                <td>Descanso</td>
                                <td style="">Descanso</td> 
                            </tr>                             
                        </tbody>
                        <tr>
                            <td></td>
                        </tr>
                    </table>
                    <div class="btn-toolbar" role="toolbar"> 
                        <div class="btn-group"> 
                            <button type="button" class="btn btn-default">1</button>                             

                            <button type="button" class="btn btn-default">2</button>
                        </div>                         

                        <div class="btn-group"> 
                            <button type="button" class="btn btn-default">8</button>                             
                        </div>
                    </div>
                </div>