 <section id="promo-3" class="content-block promo-3 min-height-600px bg-deepocean">
            <div class="container text-center">
                <h1><h1>Food Social</h1></h1>
                <h2>People want to eat well</h2>
                <a href="#" class="btn btn-outline btn-outline-xl outline-light">Social network of <span class="fa fa-heart pomegranate"></span>&nbsp;recipes and cooks</a>
            </div>
            <!-- /.container -->
        </section>
        <section class="prueba content-block content-1-8">
            <div class="container">
                <div class="row">
                    <div class="clearfix clear-columns"></div>
                    <div class="clearfix clear-columns"></div>
                    <div class="col-md-6 col-md-offset-3">
                        <form role="form" method="post" action="/login" > 
                            <h1><%= flash.get('bad_user') %></h1>
                            <div class="form-group"> 
                                <label class="control-label" for="exampleInputEmail1">Email address</label>                                 
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter name" name="name" > 
                            </div>                             
                            <div class="form-group"> 
                                <label class="control-label" for="exampleInputPassword1">Password</label>                                 
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" > 
                            </div>                             
                            <div class="form-group"> 
</div>                             
                            <div class="checkbox"> 
</div>                             
                            <button type="submit" class="btn">Submit</button>                             
                        </form>
                        <h3><br></h3>
                    </div>
                </div>
            </div>
           
        <section id="content-3-7" class="content-block content-3-7">
            <div class="container">
                <div class="col-sm-12">
                    <div class="underlined-title">
                        <h1>Show the wall</h1>
                        <hr>
                        <h2><a type="button" href="/wall" class="btn btn-primary" style="">Show</a></h2>
                    </div>
                </div>
            </div>
        </section>
        <section id="content-3-11" class="content-block-nopad content-3-11">
            <div class="image-container col-sm-6 col-xs-12 pull-right">
</div>
            <div class="container">
                <div class="row">
</div>
                <!-- /.row-->
            </div>
            <!-- /.container -->
        </section>