<section class="prueba content-block content-1-8">
            <div class="container">
                <div class="row">
                    <div class="clearfix clear-columns"></div>
                    <div class="clearfix clear-columns"></div>
                    <div class="col-md-6 col-md-offset-3">
                        <form role="form" method="post" action="/newuser" > 
                            
                            <div class="form-group"> 
                                <label class="control-label" for="exampleInputEmail1">Name</label>                                 
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter name" name="name" > 
                            </div>    
                             <div class="form-group"> 
                                <label class="control-label" for="exampleInputEmail1">Surname</label>                                 
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter surname" name="surname" > 
                            </div>      
                            <div class="form-group"> 
                                <label class="control-label">Email</label>                                 
                                <input type="email" class="form-control"  placeholder="Enter email" name="email" > 
                            </div>                             
                            <div class="form-group"> 
                                <label class="control-label" for="exampleInputPassword1">Password</label>                                 
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" > 
                            </div>                             
                            <div class="form-group"> 
</div>                             
                            <div class="checkbox"> 
</div>                             
                            <button type="submit" class="btn">Submit</button>                             
                        </form>
                        <h3><br></h3>
                    </div>
                </div>
            </div>
</section>