
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <div class="page-header" style=""> 
                        <h1>Foods</h1> 
                    </div>
                    <p style=""><br></p>
                    <p style=""><br></p>
                    <ul class="media-list" style=""> 
                         <% if (foods ){ 
                            _.each(foods, function (food) { %>
                                <li class="media">                                                                
                                    <div class="pull-left" href="#">                                        
                                        <% if (food.thumbnailURL){ %>
                                            <img class="media-object" src="<%= food.thumbnailURL %>" width="100" alt="img-food"> 
                                        <% }else{ %> 
                                            <img class="media-object" src="/images/food.jpg" alt="img-food"  width="100" alt="img-food" > 
                                        <% } %> 
                                    </div>                             
                                    <div class="media-body"> 
                                        <h4 class="media-heading"><%= food.title %></h4> 
                                        <p><%=:  food.description | truncate:255 %><p>
                                    </div>
                                    <div> 
                                     <% if (food.tags){ 
                                             _.each(food.tags, function (food_tag) { %>
                                            <span class="label label-default tag-item" style=""><%= food_tag.label %></span>
                                            <input type="hidden" name="tags_list[]" value="<%= food_tag.label %>" >
                                            <% });
                                        } %>
                                    </div>
                                    <div>
                                        <a href="/food/<%= food.id %>" style="">edit</a> &nbsp;&nbsp;<span class="js-delete" data-id="<%= food.id %>" style="">delete</span> 
                                    </div>
                                </li> <br><br>
                            <% }); %> 
                        <% }else { %>
                            <li class="media"><h3>There isn't foods</h3></li>
                        <% } %>                        
                       <!-- <li class="media"> 
                            <a class="pull-left" href="#"> 
                                <img class="media-object" src="file:///tmp/.org.chromium.Chromium.zZt400/placeholders/img5.jpg" width="100"> 
                            </a>                             
                            <div class="media-body"> 
                                <h4 class="media-heading">Media heading</h4>                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.                            
                            </div>
                            <a href=""></a>
                            <a href=""></a>
                            <a href="" style="">Ver más</a> 
                        </li>    -->                     
                    </ul>
                    <p style=""><br></p>
                    <p style=""><br></p>
                    <p><br></p>
                </div>
        