<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <div class="page-header" style=""> 
                        <h1>New food</h1> 
                    </div>
                    <p style=""><br></p>
                    <div class="alert alert-success hidden" role="alert">Saved options</div>
                    <div class="alert alert-danger hidden" role="alert">Not Saved options</div>
                    <form role="form" enctype="multipart/form-data" method="post" action="/food" >
                        <div class="form-group"> 
                            <label class="control-label" for="formInput128">Title</label>
                            <input type="text" <% if (food) { %> value="<%= food.title %>" <% } %> class="form-control" id="formInput128" name="title" placeholder="Title">
                        </div>
                        <div class="form-group"> 
                            <label class="control-label" for="formInput132">Description</label>                             

                            <textarea class="form-control" name="description" placeholder="Description" rows="3" id="formInput132"><% if (food) { %> <%= food.description %> <% } %></textarea>
                        </div>                         

                        <div class="form-group">                                                           
</div>                         

                        <div class="form-group">                                                           
</div>
                        <div class="form-group"> 
                            <label class="control-label" for="formInput144">Tags</label>
                            <input type="text" class="form-control" id="tag" name="tag" placeholder="Placeholder text">
                        </div>                         

                        <div id="resume-tags" class="form-group">

                            <p> 
                                <% if (food ){ 
                                    if (food.tags){ 
                                         _.each(food.tags, function (food) { %>
                                        <span class="label label-default tag-item" style=""><%= food.label %></span>
                                        <input type="hidden" name="tags_list[]" value="<%= food.label %>" >
                                        <% });
                                    }
                                } %>
                            </p> 
                            
                            <% if (food && food.thumbnailURL){  %>
                                <figure class="img-figure">
                                    <img src="<%= food.thumbnailURL %>" alt="img food" >
                                </figure>
                                <br>
                                <button type="button" id="eliminar" class="btn btn-default">Delete</button>

                            <% }else { %>  
                                <label class="control-label" for="exampleInputFile">Photo of the food</label>                             
                                <input type="file" name="image" id="exampleInputFile">
                            <% } %>

                        </div> 
                        <br>
                        <br>                        

                        <div class="checkbox">                              
</div>                         
                        
                        <button type="submit" class="btn">Save</button>
                        <% if (food){ %><button id="publish" data-id="<%= food.id %>" type="button" class="btn btn-default">Publish</button> <% } %>                        
                    </form>
                </div>