
#promo-3{
    color: #fff;
}


#promo-3 h1{
    font-size: 145px;
}

#header-3 > nav{
	background: orange;
}


#header-3 > nav a {
	color: black;
}

#header-3 > nav > div > div.navbar-header > button{
	background: #fff;
}

.navbar-toggle .icon-bar+.icon-bar, .navbar-toggle .icon-bar{
	background: black;
}

.tag-item{
	margin-right: 5px;
}

.img-figure{
	max-width: 400px;
}

.img-figure img{
	width: 100%;
	height: 100%;
}

.title_wall{
	margin-top: 0px;
}

.content-block{
	padding-bottom: 0;
}